<div class="container m-3 mx-auto">
  <div class="row">
    <div class="media">
      <div class="media-body">
        <% @reservations.each do |reservation|%>
          <div class= "col">
 <% if reservation.accessory.photo.present? %>
        <%= cl_image_tag reservation.accessory.photo.key, height: 300, width: 400, crop: :fit %>
      <% end %>
              <p>Start Date: <%= reservation.start_date %></p>
             <p>End Date: <%= reservation.end_date %></p>
             <p>Total Price: <%= reservation.total_price %></p>
            <p>Owner: <%= reservation.accessory.user.email %></p>
              <%= link_to 'More info', accessory_path(reservation.accessory), class: "btn btn-warning mt-1"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
