<div class="container m-3 mx-auto">
  <div class="row">
    <% @reservations.each do |reservation|%>
      <div class= "col-sm m-3">
        <div class="media">
          <div class="media-body">
            <% if reservation.accessory.photo.present? %>
              <%= cl_image_tag reservation.accessory.photo.key, height: 300, width: 400, crop: :fit %>
            <% end %>
            <p>Start Date: <%= reservation.start_date %></p>
            <p>End Date: <%= reservation.end_date %></p>
            <p>Total Price: <%= reservation.total_price %></p>
            <p>Owner: <%= reservation.accessory.user.email %></p>
            <%= link_to 'More info', accessory_path(reservation.accessory), class: "btn btn-warning mt-1"  %>
          </div>
 </div>
      </div>
    <% end %>
  </div>
  <%= link_to accessories_path,  class: 'btn btn-warning mt-3' do %>
    <i class="fa fa-history"></i> Back to list
    <% end %>
</div>
