<%= simple_form_for(@accessory) do |f| %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.submit class: 'btn btn-warning' %>
<% end %>
