<div class="container m-3 mx-auto">
  <div class="row">
    <% @accessories.each do |accessory|%>
    <div class= "col-sm m-3">
      <div class="media">
        <div class="media-body">
            <% if accessory.photo.present? %>
              <%= cl_image_tag accessory.photo.key, height: 300, width: 400, crop: :fit %>
            <% end %>
            <p>Accessory: <%= accessory.name %></p>
            <p>Price: <%= accessory.price %> CHF</p>
            <%= link_to "Edit", edit_accessory_path(accessory), class: "btn btn-warning mt-1" %>
            <%= link_to "Remove", accessory_path(accessory), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-warning mt-1' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to accessories_path,  class: 'btn btn-warning mt-3' do %>
    <i class="fa fa-history"></i> Back to list
    <% end %>
</div>
