<div class="container m-3 mx-auto">
  <h1 class="text-center "><%= @accessory.name %></h1>
  <div class="row">
    <div class= "col">
      <div class="card-trip mx-auto mb-4 mt-4 p-3" style="width: 45rem;">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="height: 50%;"/>
        <div class="card-trip-infos">
          <div>
            <p>Description: <%= @accessory.description %></p>
            <p>Address: <%= @accessory.address %></p>
            <p>Owner: <%= @accessory.user.email %></p>
          </div>
          <h2 class="card-trip-pricing"><%= @accessory.price %> CHF/day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <%# /accessories/:accessory_id/reservations/new %>
        </div>
      <%= link_to "Book Me Now", new_accessory_reservation_path(@accessory), class: "btn btn-warning mt-1" %>
    </div>
  </div>


<br>

    <div class= "col mt-4 position-sticky" style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
